<script id="engagedquest" type="text/html">
<div class="quest" id="{{ id }}">
	<span class="toggleQuest">{{ title }} ({{ repeatability }})</span>
	<span class="engaged {{ allObjectivesComplete }}">
		<button class="btn btn-success btn-small completeQuest">Turn in!</button>
	</span>
	<br />
	<div class="questBody collapse">
		{{ description }} <br />
		On completion, you will earn:
		<ul>
			<li>{{totalXP}}-{{totalXPWithBonus}} XP</li>
			{{#rewards}}
				<li>{{ . }}</li>
			{{/rewards}}
		</ul>
		<ol class="objectives">
			{{#objectives}}
				{{> objective}}
			{{/objectives}}
		</ol>
	</div>
</div>
</script>