<script id="newQuest" type="text/html">
<p>New Quest</p>
<button class="btn btn-info create">Create</button>
<div class="questDetails">
<p>Title: <input type="text" id="title"></p>
<p>Description: <textarea id="description" rows="3" cols="40"></textarea></p>
<p>Repeatable: <select id="repeatable">
<option value="ONCE">Once</option>
<option value="DAILY">Daily</option>
<option value="UNLIMITED">Unlimited</option>
</select>
</p>
</div>
<div class="rewards">
<p>Rewards</p>
<p>Creativity: <input type="text" id="creativity" value="0"></p>
<p>Enthusiasm: <input type="text" id="enthusiasm" value="0"></p>
<p>Productivity: <input type="text" id="productivity" value="0"></p>
<p>Socialness: <input type="text" id="socialness" value="0"></p>
<p>Gamer: <input type="text" id="gamer" value="0"></p>
<p>Academic: <input type="text" id="academic" value="0"></p>
</div>
<div class="objectives">
<p>Objectives</p>
<ol class="objectiveList"></ol>

<p>Description: <textarea id="description" rows="2" cols="40"></textarea></p>
<p>Completions Required: <input type="text" id="completions" value="1"></p>
<p>Experience Gained: <input type="text" id="xp" value="10"></p>
<p>Bonus? <input type="checkbox" id="bonus"></p>
<p><button class="btn btn-info addObjective">Add</button>

</div>
</script>