<script id="objective" type="text/html">
<li class="objective" id="{{ id }}">
{{ description }}
({{ xp }} XP)
<span class="unengaged">
0/{{ requiredCompletions }}
</span>

<div class="engaged">
	<span style="float:right;">
		{{ objectiveProgress }}/{{ requiredCompletions }}
		&nbsp;
		<i class="icon-minus-sign tick downtick"></i>
		<i class="icon-plus-sign tick uptick"></i>
	</span>
	<div class="progress progress-info progress-striped">
		<div class="bar" style="width: {{ percentComplete }}%;"></div>
	</div>
</div>


</li>
</script>