<script id="quest" type="text/html">
<div class="quest" id="{{ id }}">
	<span class="toggleQuest">{{ title }} ({{ repeatability }})</span>
	<span class="unengaged">
		<button class="btn btn-success btn-small beginQuest">Start</button>
	</span>
	<br />
	<div class="questBody collapse">
		{{ description }} <br />
		On completion, you will earn:
		<ul>
			<li>{{totalXP}}-{{totalXPWithBonus}} XP</li>
			{{#rewardArray}}
				<li>{{ . }}</li>
			{{/rewardArray}}
		</ul>
		<ol class="objectives">
			{{#objectives}}
				{{> objective}}
			{{/objectives}}
		</ol>
	</div>
</div>
</script>