
<li class="objective #{if _engagedQuest?.objectiveProgress?.getAt(_counter) < _objective.requiredCompletions}incompleteObjective#{/if}#{else}completeObjective#{/else}">
${_objective.description}&nbsp;&#45;&nbsp;
#{if _engagedQuest}
${_engagedQuest.objectiveProgress.getAt(_counter)}/${_objective.requiredCompletions}
#{/if}
#{else}
0/${_objective.requiredCompletions}
#{/else}
&nbsp;&#45;&nbsp;${_objective.xp}
#{if _engagedQuest}
	&nbsp;&#45;&nbsp;
	#{if _engagedQuest.objectiveProgress.getAt(_counter) < _objective.requiredCompletions}
	<a href="@{Application.uptickObjectiveCompletionCount()}/${_engagedQuest.id}/${_counter}">&#43;</a>&#47;
	#{/if}
	<a href="@{Application.downtickObjectiveCompletionCount()}/${_engagedQuest.id}/${_counter}">&#45;</a>
#{/if}
</li>