<li class="objective #{if _engagedQuest?.objectiveProgress?.getAt(_counter) < _objective.requiredCompletions}incompleteObjective#{/if}#{else}completeObjective#{/else}">
${_objective.description}
(${_objective.xp} XP)

#{if _engagedQuest}
	<span style="float:right;">
		${_engagedQuest.objectiveProgress.getAt(_counter)}/${_objective.requiredCompletions}
		&nbsp;
		#{if _engagedQuest.objectiveProgress.getAt(_counter) > 0}
			<a href="@{UserController.downtickObjectiveCompletionCount()}/${_engagedQuest.id}/${_counter}">
				<i class="icon-minus-sign"></i>
			</a>
		#{/if}
		#{if _engagedQuest.objectiveProgress.getAt(_counter) < _objective.requiredCompletions}
			<a href="@{UserController.uptickObjectiveCompletionCount()}/${_engagedQuest.id}/${_counter}">
				<i class="icon-plus-sign"></i>
			</a>
		#{/if}
	</span>
	<div class="progress progress-info progress-striped">
		<div class="bar" style="width: ${100*_engagedQuest.objectiveProgress.getAt(_counter)/_objective.requiredCompletions}%;"></div>
	</div>
#{/if}
#{else}
0/${_objective.requiredCompletions}
#{/else}


</li>