<span class="toggleQuest">${_quest.title}</span>
#{if _user?.eligibleForQuest(_quest)}
 - <a href="@{beginQuest()}/${_user.id}/${_quest.id}"><button class="btn btn-success btn-small">Start</button></a>
#{/if}
<br />
<div class="questBody collapse">
${_quest.description} <br />
On completion, you will earn:
<ul>
<li>${_quest.totalXP()}-${_quest.totalXPWithBonus()} XP</li>
#{list items:models.Statistics.STATS.values(), as:'statType'}
	#{if _quest.rewards.getStat(statType) > 0}
		<li>+${_quest.rewards.getStat(statType)} ${(statType as String).toLowerCase().capFirst()}</li>
	#{/if}
#{/list}
</ul>
<ol>
#{set counter:0 /}
#{list items:_quest.objectives, as:'objective'}
#{objective objective:objective, engagedQuest:_engagedQuest, counter:counter /}
#{set counter:counter+1 /}
#{/list}
</ol>
</div>